apiVersion: apps/v1
kind: Deployment
metadata:
  name: springboot-app
  namespace: dev
spec:
  replicas: 2
  selector:
    matchLabels:
      app: springboot
  template:
    metadata:
      labels:
        app: springboot
    spec:
      containers:
        - name: app
          image: bhagyesh1/springboot-app:1.0
          ports:
            - containerPort: 8080
          env:
            - name: DB_URL
              value: jdbc:mysql://mysql:3306/appdb
            - name: DB_USER
              value: appuser
            - name: DB_PASSWORD
              value: apppass
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: kafka:9092
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "300m"
              memory: "512Mi"
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  name: springboot-service
  namespace: dev
spec:
  type: ClusterIP
  selector:
    app: springboot
  ports:
    - port: 80
      targetPort: 8080

