version: "3.8"

services:
  zookeeper:
    image: bitnami/zookeeper:3.9
    environment:
      ALLOW_ANONYMOUS_LOGIN: "yes"
    ports:
      - "2181:2181"

  kafka:
    image: bitnami/kafka:3.6
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_CFG_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      ALLOW_PLAINTEXT_LISTENER: "yes"

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: appdb
      MYSQL_USER: appuser
      MYSQL_PASSWORD: apppass
    volumes:
      - mysql-data:/var/lib/mysql

  app:
    image: bhagyesh1/springboot-app:1.0
    depends_on:
      - mysql
      - kafka
    ports:
      - "8080:8080"
    environment:
      DB_URL: jdbc:mysql://mysql:3306/appdb
      DB_USER: appuser
      DB_PASSWORD: apppass
      KAFKA_BOOTSTRAP_SERVERS: kafka:9092

volumes:
  mysql-data:
